version: '3.8'

services:
  php-demo:
    build: ./simple-php-app
    container_name: php-demo
    ports:
      - "8081:80"
    depends_on:
      - mysql-db

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./simple-php-app/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
